:root {
    --color-primary-dark: #2264A4;
    --color-primary-light: #118BFF;
    --color-secondary-bg: #9FCDF9;
    --color-third-bg: #D3F5FF;
    --color-text-placeholder: #999999;
    --color-white: #FFFFFF;
    --color-bg-gray: #DFDFDF;

    --color-red: #DD0E0E;
    --color-green: #1CB01C;
    --color-orange: #da7100;

    /* Nombres exactos de Google Fonts */
    --font-title: 'Nunito Sans', sans-serif;
    --font-card: 'Roboto Condensed', sans-serif;
    --font-btn: 'Inter', sans-serif;
    --font-alt: 'Jaldi', sans-serif;

    --header-h: 70px;
    --bg-auth: url('/src/assets/images/background-houses-collage.jpg');
}