:root {
    --color-bg-gray: #DFDFDF;
    --color-white: #FFFFFF;
    --font-card: 'Jaldi', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Background de la vista */
.crear-publi-main {
    background-color: var(--color-bg-gray);
    min-height: 100vh;
    padding: 1rem;
}

.formulario {
    margin-left: 5rem;
    margin-right: 5rem;
}

/* CARTAS */
/* Grid */
.section-grid {
    display: grid;
    grid-template-columns: 1fr;
    /*gap: 1.875rem; /* ~30px */
    /*margin-bottom: 1.875rem;*/
    align-items: start; 
}

.titulo-card, .card{
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 0.5rem 0.5rem 1rem;
    margin-top: 0;
    margin-bottom: 1rem;

    background-color: var(--color-white);

    font-family: var(--font-card);
    font-size: 1.5rem;
}

.card {
    width: 50%;
    padding-top: 0%;

    font-size: 1.3rem;
}

.carac-generales {
    display: flex;
    flex-direction: row;
}

/* Inputs */
.titulo-input, .input{
    padding: 0.75rem;

    font-size: 2rem;

    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;

    box-sizing: border-box;
}

.input {
    padding: 0.1rem;
    font-size: 1rem;
}

.checkbox {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;

    font-size: 1rem;

    background: transparent; 
    border: none;
    border-bottom: 2px solid black;  
    outline: none;
}