:root {
    --color-bg-gray: #DFDFDF;
    --color-white: #FFFFFF;
    --color-principal-1: #2264A4;
    --font-card: 'Jaldi', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Background de la vista */
.crear-publi-main {
    background-color: var(--color-bg-gray);
    min-height: 100vh;
    padding: 1rem;
}

.formulario {
    margin-left: 5rem;
    margin-right: 5rem;
}

/* CARTAS */
/* Grid */
.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem; /* ~30px */
    /*margin-bottom: 1.875rem;*/
    align-items: start;
}

.section-foto {
    order: 1;
}

.card{
    padding: 0.5rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: var(--color-white);
    font-family: var(--font-card);
    font-size: 1.3rem;
}

.card-titulo {
    font-size: 1.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* Inputs */
.input{
    padding: 0.1rem;
    font-size: 1rem;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    box-sizing: border-box;
}

.input-row {
    margin-left: 1rem;
}

.input-titulo {
    padding: 0.75rem;
    font-size: 1rem;
}

.input-direccion {
    margin-left: 1rem;
    flex: 1;
}

.checkbox {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;

    font-size: 1rem;

    background: transparent; 
    border: none;
    border-bottom: 2px solid black;  
    outline: none;
}