/* Card genérica (formularios, secciones, etc) */
.card{
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,.08);
}

.login-card, .white-main-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 1.25rem; /* ~20px */
    box-shadow: 0 0.625rem 1.56rem rgba(0, 0, 0, 0.2);
}

/* Tarjeta */
.property-card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    cursor: pointer; /* Cambia a manita */
}

/* Hover: Levantar tarjeta */
.property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
}

.movement-card-grid {
    display: grid;
    grid-template-columns: 80% 1fr;
    margin-bottom: 1rem;
}

.movement-card{
    background: #fff;
}