/* --- HEADER --- */
.main-header {
    background-color: var(--color-primary-dark);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;

    position: relative;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Hacemos que el link del logo no tenga subrayado */
.brand-link {
    text-decoration: none;
    cursor: pointer;
}

.logo {
    height: 50px;
    width: auto;
    object-fit: contain;
    background-color: #fff;
    border-radius: 4px;
}

.logo-placeholder {
    min-height: 30px;
    height: 70px;
    background: #fff;
    color: var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    gap: 10px;
}

.site-title {
    color: var(--color-white);
    font-family: var(--font-title); /* Science Gothic */
    font-weight: 400;
    font-size: 1.4rem;
}

.header-actions {
    display: flex;
    gap: 15px;
}
/*
.header-actions-guest,
.header-actions-user{
  display: flex;
  gap: 15px;
  align-items: center;
}*/


.user-pill {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  border-radius: 999px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.avatar-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ccc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-right: 8px;
  text-transform: uppercase;
}

.user-menu {
  position: absolute;
  right: 1rem;
  top: calc(100% + 8px);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  padding: 8px 0;
  min-width: 180px;
  z-index: 10;
}

.user-menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 16px;
  border: none;
  background: transparent;
  text-align: left;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
  color: inherit;
}

.user-menu-item:hover {
  background: #f5f5f5;
}

.user-menu-logout {
  color: #d9534f;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    .main-header {
        justify-content: center;
        text-align: center;
    }
    .header-left {
        flex-direction: column;
        gap: 10px;
    }
    .header-actions {
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }
}