/* /src/css/components/utilities.css */
.hidden { display: none !important; }

.page-blur-bg::before{
  content:"";
  position: fixed;
  inset: 0;
  background-image: var(--bg-auth);
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  transform: scale(1.1);
  z-index: -1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.checkbox {
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;

  font-size: 1rem;

  background: transparent; 
  border: none;
  border-bottom: 2px solid black;  
  outline: none;
}
