.hidden { display: none; }

.page-blur-bg::before{
  content:"";
  position: fixed;
  inset: 0;
  background-image: var(--bg-auth);
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  transform: scale(1.1);
  z-index: -1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


