:root {
    --color-primary-dark: #2264A4;
    --color-primary-light: #118BFF;
    --color-secondary-bg: #9FCDF9;
    --color-text-placeholder: #999999;
    --color-white: #FFFFFF;

    /* Nombres exactos de Google Fonts */
    --font-title: 'Nunito Sans', sans-serif;
    --font-card: 'Roboto Condensed', sans-serif;
    --font-btn: 'Inter', sans-serif;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-family: var(--font-btn);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.btn-register {
    background-color: var(--color-white);
    color: var(--color-primary-dark);
}

.btn-login {
    background-color: var(--color-primary-light);
    color: var(--color-white);
}

.btn-cargar-fotos {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    width: 25%;
    padding: 7px;
    align-self: center;
}

.btn-cargar-fotos:hover {
    opacity: 0.9;
    transform: translateY(0);
}

.btn-buscar-direccion {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    width: 15%;
    font-size: 0.9rem;
    padding: 7px;
    margin-left: 1rem;
}

.btn-buscar-direccion:hover {
    opacity: 0.9;
    transform: translateY(0);
}