.main-header {
    background-color: var(--color-primary-dark);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 50px;
    width: auto;
    object-fit: contain;
    background-color: #fff;
    border-radius: 4px;
}

.logo-placeholder {
    min-height: 30px;
    height: 70px;
    background: #fff;
    color: var(--color-primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    gap: 10px;
}

.site-title {
    color: var(--color-white);
    font-family: var(--font-title); /* Science Gothic */
    font-weight: 400;
    font-size: 1.4rem;
}

.header-actions {
    display: flex;
    gap: 15px;
}